.character-card {
  height: 25vh;
  width: 15vw;
  text-align: center;
  img {
    height: 20vh;
    width: 11vw;
    cursor: pointer;
  }
}
.character-container {
  margin-left: 200px;
  .characters {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 50px;
  }
}
.button {
  display: none;
}
.button_active {
  display: none;
}
.character-filter {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 140px;
}
