.character-card {
  height: 25vh;
  width: 15vw;
  text-align: center;
  img {
    height: 20vh;
    width: 11vw;
    cursor: pointer;
  }
}
.character-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: 200px;
}
.button {
  display: none;
}
.button_active {
  display: none;
}
